
:root {
  --navbar-height: 80px;
  --color-blue: #34b0be;
  --color-pink: #ff4f6f;
  --color-black: #252525;
  --color-dark-gray: #adadad;
  --color-light-gray: #e5e5e5;
  --color-white: #ffffff;
  --weight-light: 200;
  --weight-regular: 400;
  --weight-semibold: 600;
}

html {
  font-weight: var(--weight-semibold);
  line-height: 1.5;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: 'Rubik', sans-serif;
  max-width: 1024px;
  margin: 0 auto;
}

img {
  max-width: 100%;
  width: 100%;
}

section {
  height: 100vh;
  border: 2px dashed #f0f0f0;
}

h2 {
  font-weight: var(--weight-regular);
}

/* Navbar */
.navbar {
  /* border: 1px blue dashed; */
  display: flex;
  top: 0;
  justify-content: flex-end;
  align-content: center;
  height: var(--navbar-height);
}

.navbar__container {
  /* border: 1px pink dashed; */
  position: relative;
  height: inherit;
}

.navbar__link {
  display: flex;
  align-items: center;
  gap: .25rem;
  text-decoration: none;
  font-weight: var(--weight-regular);
  color: var(--color-black);
}

.navbar__icon {
  /* border: 1px red solid; */
  font-size: 1.5rem;
  color: var(--color-blue);
}

.navbar__menu {
  /* border: 1px pink solid; */
  display: flex;
  text-align: center;
}

.navbar__list {
  /* border: 1px blue solid; */
  display: flex;
  width: 100%;
  gap: .5rem;
}

.navbar__button {
  width: 100%;
  display: flex;
  justify-content: right;
  align-content: center;
  padding: 20px 30px;
}

a:hover {
  color:var(--color-blue);
}

.btn--close,
.btn--open {
  cursor: pointer;
}

.wrapper {
  margin: 0;
}

.home {
  margin-top: -80px;
}

/* hasta los 549, 0 - 549 */
@media (max-width: 549px) {

  body {
    font-size: 16px;
  }

  .navbar__container {
    width: 100%;
  }

  .navbar__menu {
    position: absolute;
    top: -500%;
    width: 100%;
    background-color: white;
    border-radius: 0 0 20px 20px;
    box-shadow: 0px 0px 15px -3px black;
    transition: all .3s ease;
    justify-content: center;
  }

  .navbar__menu.active {
    top: 0;
  }

  .navbar__list {
    margin: 2rem 0 1.5rem;
    flex-direction: column;
    align-items: center;
  }

  .navbar__link {
    font-size: 18px;
  }

  .btn--close {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 15px 20px;
  }
}

/* désde 550px, 550 ... */
@media (min-width: 550px) {

  body {
    font-size: 18px;
  }

  .btn--close {
    display: none;
  }

  .navbar__container {
    width: 80%;
  }

  .navbar__menu {
    height: 100%;
    justify-content: right;
  }

  .navbar__list {
    margin-right: 10%;
    justify-content: space-between;
    gap: 1rem;
  }

  .navbar__link {
    font-size: 18px;
  }

  .navbar__button {
    display: none;
  }
}